/* Add this media query for mobile devices */
@media (max-width: 1124px) {
    .container {
        flex-direction: column;
    }
    .container>.right-side,
    .container>.left-side {
        width: 100%;
    }
    .card-front {
        top: 180px;
        left: 20px;
        z-index: 1;
    }
    .card-back {
        top: 56px;
        left: 100px;
    }
    .form-main {
        width: 80%;
    }
}
@media (max-width: 668px) {
    .form-main {
        width: 100%;
    }
}