/* Add this media query for mobile devices */
@media (max-width: 1124px) {
    .container {
        flex-direction: column;
    }
    .container>.right-side,
    .container>.left-side {
        width: 100%;
    }
    .card-front {
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        z-index: 1;
        /* transform: translateY(-10%); */
    }
    .card-back {
        top: 50%;
        left: 50%;
        transform: translate(-30%, -36%);
        /* margin: auto; */
    }
    .form-main {
        width: 80%;
        padding-top: 50px;
        position: relative;
        top: 10%;
    }
}
@media (max-width: 668px) {
    .form-main {
        width: 100%;
    }
    .card-back, .card-front {
        left: 40%;
        width: 300px;
        height: 165px;
    }
.card-logo {
    height: 40%;
    left: 20px;
    top: 20px;
}
.card-number {
    & p {
        font-size: 16px !important;
    }
}
.card-fron-details-name-exp {
    font-size: 10px !important;
}
.card-back .card-back-clone .card-cvc {
    font-size: 10px;
    right: 34px;
}
}