@font-face {
    font-family: "Space Grotesk";
    src: url('/Font/SpaceGrotesk-regular.ttf');
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk";
}
body {
    background-color: #fff;
}
a {
    text-decoration: none;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
}
.container>.left-side {
    width: 33.33%;
    height: 100vh;
    background-image: url("/images/bg-main-desktop.png");
    background-size: cover;
    position: relative;
}
.container>.right-side {
    width: 66.66%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Stert Left side */
/* Start front of card */

.card-front {
    width: 400px;
    height: 220px;
    border-radius: 10px;
    background-image: url("/images/bg-card-front.png");
    background-size: cover;
    position: absolute;
    right: -120px;
    top: 140px;
}
.card-front-logo, .card-front-details {
    width: 100%;
    height: 50%;
    border-radius: inherit;
}
.card-front-logo {
    position: relative;
}
.card-logo {
    position: absolute;
    left: 30px;
    top: 30px;
}
.card-front-details-number, .card-fron-details-name-exp {
    width: 100%;
    height: 50%;
}
.card-front-details-number {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-number>p {
    display: inline-block;
    color: #efefef;
    font-weight: 500;
    font-size: 24px;
}
.card-number>p:nth-child(4), p:nth-child(8), p:nth-child(12) {
    margin-right: 10px;
}
.card-fron-details-name-exp {
    color: #efefef;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 31px;
}


/* Start back of card */
.card-back {
    width: 400px;
    height: 220px;
    border-radius: 10px;
    background-image: url("/images/bg-card-back.png");
    background-size: cover;
    position: absolute;
    right: -200px;
    top: 390px;
}
.card-back-clone {
    width: 100%;
    height: 100%;
    position: relative;
}
.card-cvc {
    color: #efefef;
    width: 10%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 44px;
    top: 45.2%;
}

/* Start Right side */
.form-main {
    /* background-color: darkgrey; */
    width: 360px;
    height: 360px;
    padding: 12px;
    margin-top: 40px;
}
.full-width {
    width: 100%;
}
.form-base {
    display: flex;
    flex-direction: column;
    padding-bottom: 18px ;
}
.form-base>label {
    font-size: 10px;
    letter-spacing: 1px;
    margin-bottom: 4px;
}
.form-base>input {
    outline: none;
    border-radius: 6px;
    border: 2px solid hsl(270, 3%, 87%);
    height: 34px;
    padding: 8px 8px;
}
.form-base>input::placeholder {
    color: hsl(270, 3%, 47%);
}
.namedate-part {
    width: 100%;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
}
.namedate-part-left {
    width: 50%;
    display: flex;
    font-size: 10px;
}
.namedate-part-left input {
    width: 90%;
    margin-top: 4px;
    outline: none;
    border-radius: 6px;
    border: 2px solid hsl(270, 3%, 87%);
    height: 34px;
    padding: 8px 8px;
}
.namedate-part-left input::placeholder {
    color: hsl(270, 3%, 47%);
}
.namedate-part-right {
    width: 50%;
    padding-left: 12px;
    font-size: 10px;
}
.namedate-part-right input {
    width: 100%;
    outline: none;
    margin-top: 4px;
    border-radius: 6px;
    border: 2px solid hsl(270, 3%, 87%);
    height: 34px;
    padding: 8px 8px;
}
.namedate-part-right input::placeholder {
    color: hsl(270, 3%, 47%);
}
.confirm-bottom {
    width: 100%;
    height: 36px;
    margin-top: 28px;
    background-color: lightcyan;
}
.confirm-bottom button {
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: hsl(278, 68%, 11%);
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}



