* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
}
.container>.right-side {
    width: 33.33%;
    height: 100vh;
    background-image: url("/images/bg-main-desktop.png");
    background-size: cover;
}
.container>.left-side {
    width: 66.66%;
    height: 100vh;
}

