@font-face {
    font-family: "Space Grotesk";
    src: url('/Font/SpaceGrotesk-regular.ttf');
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk";
}
body {
    background-color: #efefef;
}
a {
    text-decoration: none;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    /* position: relative; */
}
.container>.right-side {
    width: 33.33%;
    height: 100vh;
    background-image: url("/images/bg-main-desktop.png");
    background-size: cover;
    position: relative;
}
.container>.left-side {
    width: 66.66%;
    height: 100vh;
}

/* Start front of card */

.card-front {
    width: 400px;
    height: 220px;
    border-radius: 10px;
    background-image: url("/images/bg-card-front.png");
    background-size: cover;
    position: absolute;
    right: -120px;
    top: 140px;
}
.card-front-logo, .card-front-details {
    width: 100%;
    height: 50%;
    border-radius: inherit;
}
.card-front-logo {
    position: relative;
}
.card-logo {
    position: absolute;
    left: 30px;
    top: 30px;
}
.card-front-details-number, .card-fron-details-name-exp {
    width: 100%;
    height: 50%;
}
.card-front-details-number {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-number>p {
    display: inline-block;
    color: #efefef;
    font-weight: 500;
    font-size: 24px;
}
.card-number>p:nth-child(4), p:nth-child(8), p:nth-child(12) {
    margin-right: 10px;
}
.card-fron-details-name-exp {
    color: #efefef;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 31px;
}


/* Start back of card */
.card-back {
    width: 400px;
    height: 220px;
    border-radius: 10px;
    background-image: url("/images/bg-card-back.png");
    background-size: cover;
    position: absolute;
    right: -200px;
    top: 390px;
}
